/*! purgecss start ignore */
@tailwind base;
@import "./theme.css";
html {
  scroll-behavior: smooth;
}
@tailwind components;

.global-padding {
  @apply px-8;
}
@screen md {
  .global-padding {
    @apply px-20;
  }
}
@screen lg {
  .global-padding {
    @apply px-20;
  }
}
@screen xl {
  .global-padding {
    padding-left: 15vw;
    padding-right: 15vw;
  }
}
/*! purgecss end ignore */

@tailwind utilities;
